<h1>Hire More Cat Servers</h1>

<%= form_for @server do |f| %>

<%=f.label :name %>
<%=f.text_field :name %>

<%=f.label :cat_id %>
<%=f.collection_select :cat_id, Cat.all, :id, :name %>

<%=f.submit%>
  
<% end %>